---
import Image from '../common/Image.astro';
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/5th-meetup.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/outing2.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/100-fold-7.jpeg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/ncef-meet-4.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/4th-meetup.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/group-discussions.jpg" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/group-pokhara.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/3rd-meetup.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/ncef-wide.png" alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/small-group-pokhara.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/meetup-invite.jpg" alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg" src="~/assets/images/100-fold-worship-snip.png" alt="" />
    </div>
  </div>
</div>
