---
import Image from '../common/Image.astro';
const { images } = Astro.props as { images: { src: string; alt?: string }[] };
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  {
    images.map((image) => (
      <div>
        <Image class="h-auto max-w-full rounded-lg" src={image.src} alt={image.alt} />
      </div>
    ))
  }
</div>
