---
import Layout from '~/layouts/PageLayout.astro';
import GalleryWithHero from '~/components/widgets/GalleryWithHero.astro';
import GalleryMasonry from '~/components/widgets/GalleryMasonry.astro';
import { galleryImages } from '~/data';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
const metadata = {
  title: 'NCEF gallery',
};

---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">NCEF Gallery</Fragment>

    <Fragment slot="image">
      <div class="grid place-items-center">
        <GalleryMasonry />
      </div>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  {
    galleryImages.map((event) => (
      <Content
        id={`galary ${event.title}`}
        items={[
          {
            title: event.title,
            description: event.description,
          },
        ]}
      >
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-blue-50 dark:bg-transparent" />
        </Fragment>
        <Fragment slot="image">
          <div class="grid place-items-center">
            <GalleryWithHero images={event.images} classNames="p-4" />
          </div>
        </Fragment>
      </Content>
    ))
  }
</Layout>
