---
import Image from '~/components/common/Image.astro';
import { SITE } from '~/utils/config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<span class="flex items-center gap-2">
  <Image
    class="mx-auto rounded-sm w-full"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={24}
    height={24}
    src="~/assets/images/ncef-square.png"
    alt="logo"
  />
  {SITE?.name}
</span>
</span>
